<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PartDataReaderLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PartDataReaderLibrary.Properties.Settings>
            <setting name="SavesPath" serializeAs="String">
                <value>D:\Games\steamapps\common\Kerbal Space Program\saves</value>
            </setting>
            <setting name="DataFilesPath" serializeAs="String">
                <value>C:\Users\Cody\source\repos\GitHub\KSP_Craft_Parser\KSPCraftParser\KSPCraftParserConsole\JsonData</value>
            </setting>
            <setting name="ScienceDataFile" serializeAs="String">
                <value>KSP_Science_Experiments_Mk1</value>
            </setting>
            <setting name="PartDataFile" serializeAs="String">
                <value>KSP_Parts_Mk3</value>
            </setting>
            <setting name="CraftFileExt" serializeAs="String">
                <value>craft</value>
            </setting>
            <setting name="DataFileExt" serializeAs="String">
                <value>json</value>
            </setting>
        </PartDataReaderLibrary.Properties.Settings>
    </userSettings>
</configuration>