<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KSPCraftParserConsole.Properties.PathSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KSPCraftParserConsole.Properties.PathSettings>
            <setting name="GamePath" serializeAs="String">
                <value>D:\Games\steamapps\common\Kerbal Space Program\saves</value>
            </setting>
            <setting name="PartDataPath" serializeAs="String">
                <value>C:\Users\Cody\source\repos\GitHub\KSP_Craft_Parser\KSPCraftParser\KSPCraftParserConsole\JsonData</value>
            </setting>
        </KSPCraftParserConsole.Properties.PathSettings>
    </userSettings>
</configuration>