<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KSPCraftParserConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KSPCraftParserConsole.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KSPCraftParserConsole.Properties.PathSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KSPCraftParserConsole.Properties.Settings>
            <setting name="SavesPath" serializeAs="String">
                <value>D:\Games\steamapps\common\Kerbal Space Program\saves</value>
            </setting>
            <setting name="DataFilesPath" serializeAs="String">
                <value>C:\Users\Cody\source\repos\GitHub\KSP_Craft_Parser\KSPCraftParser\KSPCraftParserConsole\JsonData</value>
            </setting>
            <setting name="ScienceDataFile" serializeAs="String">
                <value>KSP_Science_Experiments_Mk1</value>
            </setting>
            <setting name="PartDataFile" serializeAs="String">
                <value>KSP_Parts_Mk3</value>
            </setting>
            <setting name="CraftFileExt" serializeAs="String">
                <value>.craft</value>
            </setting>
            <setting name="DataFileExt" serializeAs="String">
                <value>.json</value>
            </setting>
            <setting name="AutoFormatGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintDecorations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="ColumnCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PrintVertical" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PathFormat" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="keepPathExt" serializeAs="String">
                <value>True</value>
            </setting>
        </KSPCraftParserConsole.Properties.Settings>
        <KSPCraftParserConsole.Settings>
            <setting name="SavesPath" serializeAs="String">
                <value>D:\Games\steamapps\common\Kerbal Space Program\saves</value>
            </setting>
            <setting name="DataFilesPath" serializeAs="String">
                <value>C:\Users\Cody\source\repos\GitHub\KSP_Craft_Parser\KSPCraftParser\KSPCraftParserConsole\JsonData</value>
            </setting>
            <setting name="ScienceDataFile" serializeAs="String">
                <value>KSP_Science_Experiments_Mk1</value>
            </setting>
            <setting name="PartDataFile" serializeAs="String">
                <value>KSP_Parts_Mk3</value>
            </setting>
            <setting name="CraftFileExt" serializeAs="String">
                <value>craft</value>
            </setting>
            <setting name="DataFileExt" serializeAs="String">
                <value>json</value>
            </setting>
            <setting name="AutoFormatGrid" serializeAs="String">
                <value>True</value>
            </setting>
        </KSPCraftParserConsole.Settings>
        <KSPCraftParserConsole.Properties.PathSettings>
            <setting name="GamePath" serializeAs="String">
                <value>D:\Games\steamapps\common\Kerbal Space Program\saves</value>
            </setting>
            <setting name="PartDataPath" serializeAs="String">
                <value>C:\Users\Cody\source\repos\GitHub\KSP_Craft_Parser\KSPCraftParser\KSPCraftParserConsole\JsonData</value>
            </setting>
        </KSPCraftParserConsole.Properties.PathSettings>
    </userSettings>
</configuration>